@import 'tailwindcss';

.btn-accion {
  display: inline-flex;
  align-items: center;
  border: none;
  padding: 0.5rem 1rem; /* px-4 py-2 */
  font-weight: 600; /* font-semibold */
  border-radius: 7px; /* rounded-2xl */
  transition: all 0.3s ease;
  background-color: #1755eb;
  color: white;
  box-shadow: 0 4px 12px rgba(1, 228, 255, 0.2);
}

.btn-accion:hover {
  background: linear-gradient(to right, #01e4ff, #1755eb);
  box-shadow: 0 6px 16px rgba(1, 228, 255, 0.4);
  transform: translateY(-0.125rem); /* -translate-y-0.5 */
  color: white;
}

.btn-accion:active {
  transform: scale(0.95);
  box-shadow: 0 2px 8px rgba(1, 228, 255, 0.2);
}


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
